<h1><%- boardTypeInfo[0].title %></h1>
<table class="table table-bordered border-primary">
    <thead><td>작성자</td><td>제목</td><td>날짜</td></thead> 
    <% for(var i=0; i< boards.length; i++){ %>
        <tr>
            <td><%= boards[i].name %></td>
            <td><a href="/board/detail/<%= boards[i].board_id%>/<%= pNum%>" style="text-decoration: none;"><%= boards[i].title %></a></td>
            <td><%= boards[i].date%></td>
        </tr>
    <%}%>
</table>

<%if( cls === "MNG" || (cls === "CST" && boardTypeInfo[0].write_YN === 'Y')  ){%>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
   <a href="/board/create/<%= boardTypeInfo[0].type_id %>"> <button type="button" class="btn btn-info me-md-2">글쓰기</button> </a>
</div>
<%}%>

<% var j = 1;
while (j <= totalPages) {
    if(j == pNum){ %>
        <span style="font-weight : bold;"><%=j%></span> &nbsp;&nbsp;
    <% } else { %>
        <span><a href="/board/view/<%= boardTypeInfo[0].type_id %>/<%=j%>"><%=j%></a></span> &nbsp;&nbsp;
    <% }
        j++
} %>
