<div class="container">	
	
    <% if (mode === 'create'){ %>
    <h2><%- boardtypeInfo[0].title %> 작성</h2>
	<form action="/board/create_process" method="post" >
        <input type = "hidden" name="type_id" value = "<%= boardtypeInfo[0].type_id %>">
        <input type = "hidden" name="loginid" value = "<%= userLoginId %>">
		<div class="mb-3">
			<label class="form-label" for="id">제목</label> 
			<input class="form-control" type="text" name="title" style = "width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">작성자</label> 
			<input class="form-control" type="text" name="userName" value = "<%= userName %>" style = "width:300px;" disabled/>
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">내용</label> 
			<textarea class="form-control" name="content" style = "width:800px;height: 200px;" ></textarea>
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">갱신삭제시 비밀번호</label>
			<input class="form-control" type="text" name="password" style = "width:300px;" />
		</div>
        <button class="btn btn-outline-primary btn-sm" type="submit">생성</button>
		
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/board/view/<%=boardtypeInfo[0].type_id%>/1"> <button type="button" class="btn btn-info me-md-2">목록</button> </a>
        </div>
    </form>
    <%}else if(mode === 'update'){%>
            <h2><%- boardTypeInfo[0].title %>> 작성</h2>
            <form action="/board/update_process" method="post" >
                <input type = "hidden" name="type_id" value = "<%= boardTypeInfo[0].type_id %>">
                <input type = "hidden" name="loginid" value = "<%= userLoginId %>">
                <input type="hidden" name = 'board_id' value = '<%= boardInfo[0].board_id %>'>
                <input type="hidden" name="pNum" value = '<%= pNum%>'>
                <div class="mb-3">
                    <label class="form-label" for="id">제목</label>
                    <input class="form-control" type="text" name="title" value="<%= boardInfo[0].title %>" style = "width:300px;" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="id">작성자</label>
                    <input class="form-control" type="text" name="title" value = "<%= boardInfo[0].name %>" style = "width:300px;" disabled/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="id">내용</label>
                    <textarea class="form-control" name="content" style = "width:800px;height: 200px;" ><%= boardInfo[0].content%></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="id">갱신삭제시 비밀번호</label>
                    <input class="form-control" type="text" name="password" style = "width:300px;" />
                    <input class="form-control" type="hidden" name="realPwd" value="<%= boardInfo[0].pwd%>" style = "width:300px;" />
                </div>

                <button class="btn btn-outline-primary btn-sm" type="submit">생성</button>
            </form>
    <%}else{%>
<!--        detail일 때 -->
            <div class="mb-3">
                <label class="form-label" for="id">제목</label>
                <input class="form-control" type="text" name="title" value="<%= boardInfo[0].title%>" style = "width:300px;" disabled/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="id">작성자</label>
                <input class="form-control" type="text" name="title" value = "<%= boardInfo[0].name %>" style = "width:300px;" disabled/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="id">작성일</label>
                <input class="form-control" type="text" name="title" value = "<%= boardInfo[0].date %>" style = "width:300px;" disabled/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="id">내용</label>
                <textarea class="form-control" name="content" style = "width:800px;height: 200px;" disabled ><%= boardInfo[0].content%></textarea>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="/board/view/<%= boardInfo[0].type_id %>/<%= pNum %>"> <button type="button" class="btn btn-info me-md-2">목록</button> </a>
                <% if (cls === 'MNG' || (cls === 'CST' && userLoginId === boardInfo[0].loginid)) {%>
                    <a href="/board/update/<%= boardInfo[0].board_id%>/<%= boardInfo[0].type_id %>/<%= pNum %>">
                        <button type="button" class="btn btn-info me-md-2">수정</button>
                    </a>
                    <a href="/board/delete/<%= boardInfo[0].board_id%>/<%= boardInfo[0].type_id %>/<%= pNum %>" onclick="if(confirm('정말로 삭제하시겠습니까?')==false) return false">
                        <button type="button" class="btn btn-info me-md-2">삭제</button>
                    </a>
                <%}%>
            </div>
    <%}%>
</div>

