<div class="container">
	<h2><%= title %></h2>
	<form action="<%= action %>" method="post"><p></p>
		<div class="form-group">
			<%- update_hidden %>
		</div>

		<% if (!isUpdate) { %>
			<div class="mb-3">
				<label class="form-label" for="main_id">대분류</label>
				<input class="form-control" type="text" name="main_id" value="<%= code ? code.main_id : '' %>" style="width:300px;" />
			</div>
		<% } %>

		<div class="mb-3">
			<label class="form-label" for="main_name">대분류명</label>
			<input class="form-control" type="text" name="main_name" value="<%= code ? code.main_name : '' %>" style="width:300px;" />
		</div>

		<% if (!isUpdate) { %>
			<div class="mb-3">
				<label class="form-label" for="sub_id">소분류</label>
				<input class="form-control" type="text" name="sub_id" value="<%= code ? code.sub_id : '' %>" style="width:300px;" />
			</div>
		<% } %>

		<div class="mb-3">
			<label class="form-label" for="sub_name">소분류명</label>
			<input class="form-control" type="text" name="sub_name" value="<%= code ? code.sub_name : '' %>" style="width:300px;" />
		</div>

		<% if(isUpdate) { %>
			<input type="hidden" name="start" value="<%= code.start %>" />
			<div class="mb-3">
				<label class="form-label" for="start">시작일</label>
				<input class="form-control" type="text" value="<%= code.start %>" disabled style="width:300px;" />
			</div>
		<% } else { %>
			<div class="mb-3">
				<label class="form-label" for="start">시작일</label>
				<input class="form-control" type="text" name="start" placeholder="예: 20240101" required style="width:300px;" />
			</div>
		<% } %>

		<div class="mb-3">
			<label class="form-label" for="end">종료일</label>
			<input class="form-control" type="text" name="end" value="<%= code ? code.end : '' %>" placeholder="예: 20241231" required style="width:300px;" />
		</div>

		<div class="d-flex gap-2">
			<%- button %>
			<a href="/code/view" class="btn btn-outline-primary btn-sm">코드 목록으로 돌아가기</a>
		</div>
	</form>
</div>