<div class="container">
	<h2><%= title %></h2>
	<form action="<%= action %>" method="post">
		<div class="mb-3">
			<label class="form-label">ID</label>
			<input class="form-control" type="text" name="loginid" value="<%= person.loginid || '' %>" required placeholder="아이디를 입력해 주세요" />
		</div>
		<div class="mb-3">
			<label class="form-label">PW</label>
			<input class="form-control" type="password" name="password" value="<%= person.password || '' %>" required placeholder="패스워드를 입력해 주세요" />
		</div>
		<div class="mb-3">
			<label class="form-label">이름</label>
			<input class="form-control" type="text" name="name" value="<%= person.name || '' %>" required placeholder="이름을 입력해 주세요" />
		</div>
		<div class="mb-3">
			<label class="form-label">주소</label>
			<input class="form-control" type="text" name="address" value="<%= person.address || '' %>" placeholder="주소를 입력해 주세요" />
		</div>
		<div class="mb-3">
			<label class="form-label">전화번호</label>
			<input class="form-control" type="text" name="tel" value="<%= person.tel || '' %>" placeholder="000-0000-0000" />
		</div>
		<div class="mb-3">
			<label class="form-label">생일</label>
			<input class="form-control" type="text" name="birth" value="<%= person.birth || '' %>" required placeholder="YYYYMMDD" />
		</div>
		<div class="mb-3">
			<label class="form-label">CLASS</label>
			<select class="form-control" name="cls" required>
				<option value="CST" <%= person.class === 'CST' ? 'selected' : '' %>>고객</option>
				<option value="CEO" <%= person.class === 'CEO' ? 'selected' : '' %>>경영자</option>
				<option value="MNG" <%= person.class === 'MNG' ? 'selected' : '' %>>관리자</option>
			</select>
		</div>
		<div class="mb-3">
			<label class="form-label">GRADE</label>
			<select class="form-control" name="grade" required>
				<option value="S" <%= person.grade === 'S' ? 'selected' : '' %>>실버 (가장 낮은 등급)</option>
				<option value="G" <%= person.grade === 'G' ? 'selected' : '' %>>골드</option>
				<option value="D" <%= person.grade === 'D' ? 'selected' : '' %>>다이아</option>
			</select>
		</div>
		<div class="mb-3">
			<%- button %>
			<a href="/person/view" class="btn btn-outline-primary btn-sm" role="button">고객 목록으로 돌아가기</a>
		</div>
	</form>
</div>